.container-upload{
	width:100%;
	background-color:#222;
	overflow: hidden;
	.frames{
		
		padding:1em;
		overflow:hidden;
		.frameone{
			display: none;
			overflow:hidden;
		}
		.frametwo{
			
			background-color:red;
			overflow:hidden;
		}
	}
}

@media only screen and (min-width:768px){
	
	.frameone{
		display: block;
		width:55%;
		float: left;
	}
	.frametwo{
		display: block;
		width: 30%;
		border:2px solid red;
	}

}